#vorm {
    max-width: 800px;
    width: 100%;
}

.muusika-tabel, .muusika-tabel td, .muusika-tabel tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

.muusika-tabel td {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    text-align: center;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    transition: color 0.3s ease;
    font-size: 18px;
}

.question:hover {
    color: dodgerblue;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.checkbox-item {
    display: inline-flex;
    align-items: center;  /* Align the checkbox and label properly */
    transition: color 0.3s ease;
}
.checkbox-item:hover {
    color: goldenrod;
}

.checkbox-item input {
    margin-right: 5px; /* Space between checkbox and label */
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
}
input[type="button"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
input[type="button"]:hover {
    background-color: lightskyblue;
}

.muusika-pealkiri {
    transition: color 0.5s ease;
}
.muusika-pealkiri:hover {
    animation: rainbow 2s linear infinite;
}
@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}
